body{
    background-color: #d6e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.card {
    width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    

}
/*  this is heading  */
.title1 {
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 48px;
    text-align: center;
    font-size: 28px;
    color: #1F2E55;
    line-height: 37px;
}
.title2 {
    color:  #717FA6;

    font-family: 'Red Hat Display', sans-serif;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    margin: 17px 48px 20px 48px;
}
/* this is price box */
.price-box {
    
    width: 354px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    border-radius: 11px;
    padding: 25px 20px 25px 24px;
    background-color:  #F7F9FF;
    
}
.year {
    font-weight: 500;
    color: #717FA6;
}

.price-anual {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 21px;

    
    

}

.change {
    
    display: flex;
    align-items: center;
    color: #a19dd1;
    margin-left: auto;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    height: 19px;
    font-weight: 700px;
    color: #382AE1;
    text-decoration-line: underline;


}

/* this is botton */
.payment {
    width: 80%;
    height: 50px;
    border-radius: 11px;
    background-color: #382AE1;
    margin: 32px 48px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 900;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    color: #FFFFFF;
    
}
.order {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 900;
    color: #717FA6;
    margin-bottom: 48px;

}
